h2{ font-size: large;
    border-style: dashed;
    border-color: black;
    font-weight: bold;
    
color: green;
background-color: aqua;
padding: 20px;
margin: 30px;

}

.contenedor {
width: 600px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
background-color: aqua;
justify-content: center;
/*flex-flow: row-reverse; */
align-content: flex-end;

}

div h1{
    color: red;
    background-color: aqua;
    position: relative;
}