h2{ font-size: large;
    border-style: dashed;
    border-color: black;
    font-weight: bold;
    
color: green;
background-color: aqua;
padding: 20px;
margin: 30px;

}

.contenedor {
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: aqua;

}